:root{
    --primary-color:#03202F;
    --secondary-color:#A71930;
    --alpha-color: #FFFFFF;
}
body{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to left, var(--secondary-color), var(--primary-color) 80%);
    width: 100%;
    font-family: 'Russo One', sans-serif;
}
header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: auto;
}
.name{
    font-size: 50px;
    color: var(--alpha-color);
    padding: 20px;
}
.jjwatt img{
    width: 100%;
    border-radius: 50px;
    
}
.history{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--alpha-color);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    padding: 20px;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nfl{
    background-color: var(--alpha-color);
    padding: 20px;
    width: 600px;
    border-radius: 5px 150px 5px 5px; 
    height: 150px;
}
.conquer{
    color: var(--alpha-color);
    padding: 10px;
}
.one{
    background-color: var(--primary-color);
    height: 20px;
    width: 400px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px 30px 5px 30px;
}
.two{
    background-color: var(--secondary-color);
    height: 20px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    border-radius: 5px 30px 5px 30px;
}
.three{
    background-color: var(--primary-color);
    height: 20px;
    width: 400px;
    margin-left: 150px;
    text-align: center;
    border-radius: 5px 30px 5px 30px;
}
.poster{
    margin: 0px;
}
.poster img{
    margin-top: 0px;
    width: auto;
    height: 500px;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--alpha-color);
    height: 200px;
    width: 400px;
    border-radius: 5px 150px 5px 5px; 
    padding: 20px;
    margin-top: 20px;
}

.st1{
background-color: var(--primary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
}
.st2{
    background-color: var(--secondary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
    margin-left: 50px;
}
.st3{
    background-color: var(--primary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
    margin-left:100px;
}
.st4{
    background-color: var(--secondary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
    margin-left: 25px;
    
}
.st5{
    background-color: var(--primary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
    margin-left: 75px;
}
.st6{
    background-color: var(--primary-color);
    height: 20px;
    width: 200px;
    color: var(--alpha-color);
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px 30px 5px 30px;
    text-align: center;
    margin-left:125px;
}
.big img{
    width:100%;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 50px;
    color: var(--alpha-color);
}

@media (max-width: 1000px) {
    .history{
        font-size: 18px;
        line-height: 20px;
        padding: 10px;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .poster img{
        margin: 0px;
        width: 300px;
        height: auto;
        
    }
    .nfl{
        margin: 10px;
        width: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px 50px 5px 5px;
    }
    .one,.two,.three{
        
        font-size: 10px;
        margin: 0px;
        width: 150px;
        margin-bottom: 10px;
    }
    .outside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .status{
        margin: 10px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 50px 5px 5px;
    }
    .st1,.st2,.st3,.st4,.st5,.st6{
        font-size: 10px;
        margin: 0px;
        width: 150px;
        margin-bottom: 10px;
    }
}
@media (max-width: 600px){

    .history{
        font-size: 15px;
        line-height: 20px;
    }
    footer{
        font-size: 10px;
    }
}
@media (max-width: 600px){
    .footer{
        font-size: 8px;
    }
}